<html>
  <head>
    <style>
      body {
        min-width: 750px;
      }
    </style>
    <link href="bootstrap.min.css" rel="stylesheet">
  </head>
  <body
    >
    <div id="app">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mt-4">
            <h1>Tabs:</h1>

            <form @submit.prevent>
              <input ref="input"
                     v-model="text"
                     type="text"
                     id="text-input"
                     autocomplete="off">
            </form>
            <div>
              {{ text }}
            </div>
            <template v-for="(tab, indx) in tabs">
              <div class="list-group-item"
                   :class="{ 'list-group-item-success': indx === sIndex }">
                {{ tab.title }}
                <br>
                {{ tab.simpleUrl }}
              </div>
            </template>
          </div>
        </div>
      </div>
    </div>

    <script src="vue.js"></script>
    <script src="cs.js"></script>
  </body>
</html>
