<html>
  <head>
    <link href="assets/bootstrap.min.css" rel="stylesheet">
    <style>
      body {
        min-width: 750px;
      }

      .list-group-item {
        padding: 0.5rem 0.75rem;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mt-4">
            <h1>TabJump {{ tabNum }}/{{ windowNum }}</h1>

            <button @click="showHistory = !showHistory" class="mr-3 mt-2 btn btn-success" style="position: absolute; right: 0; top: 0;">
              History ({{ detailedHistory.length }})
            </button>

            <ul v-if="showHistory">
              <li v-for="(t, i) in detailedHistory.slice().reverse()"
                  @click="travelHistory(i)"
                  class="d-flex list-group-item">
                  {{ t.url }}
                  <button @click="removeFromHistory(i)" class="ml-auto">
                    &times;
                  </button>
              </li>
            </ul>

            <form @submit.prevent>
              <input ref="input"
                     v-model="text"
                     type="text"
                     id="text-input"
                     autocomplete="off">
            </form>
            <template v-for="(tab, indx) in tabs">
              <div @click="chooseTab(tab)"
                   class="list-group-item"
                   :class="{ 'list-group-item-success': indx === sIndex }">
                {{ tab.title }}
                <br>
                {{ tab.simpleUrl }}
              </div>
            </template>
          </div>
        </div>
      </div>
    </div>

    <script src="assets/vue.js"></script>
    <script src="contentScript.js"></script>
  </body>
</html>
